<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Festival List </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css"  
      href="../static/main.css" th:href="@{/main.css}" />
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Festival List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <ul class="nav nav-pills mr-auto">
      <li class="nav-item" >
        <a class="btn btn-success" href="addfest">Add festival</a>
      </li>
 
 </ul>
 <div align="right">
<input type="text" id="searchInput" placeholder="Search...">

</div>

</nav>

<div th:if="${not #lists.isEmpty(festival)}">

<table class="table">
<tr>

<th>Name</th>
<th>Country</th>
<th>Email</th>
<th>Main genre</th>
<th>Link</th>
<th>View details</th>
<th>Delete</th>
</tr>
<tbody id="mainTable">
<tr th:each="festival : ${festival}">

<td th:text="${festival.name}"></td>
<td th:text="${festival.country}"></td>
<td th:text="${festival.email}"></td>
<td th:text="${festival.mainGenre}"></td>
<td th:text="${festival.link}"></td>
 <td>
  <a th:href="${'/festival/' + festival.name}"type="button" class="btn btn-primary">View</a></td>
  <td>
 <a th:href="@{/delete/{id}(id=${festival.id})}" type="button" class="btn btn-danger">Delete</a></td>
</tr>
</table>


</div>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script>
$(document).ready(function(){
	  $("#searchInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#mainTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
</script>
</html>